@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.specialbg {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* preloader */

.cssload-preloader {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 10;
}

.cssload-preloader > .cssload-preloader-box {
	position: absolute;
	height: 28px;
	top: 50%;
	left: 50%;
	margin: -14px 0 0 -142px;
	perspective: 190px;
		-o-perspective: 190px;
		-ms-perspective: 190px;
		-webkit-perspective: 190px;
		-moz-perspective: 190px;
}

.cssload-preloader .cssload-preloader-box > div {
	position: relative;
	width: 28px;
	height: 28px;
	background: rgb(204,204,204);
	float: left;
	text-align: center;
	line-height: 28px;
	font-family: Verdana;
	font-size: 19px;
	color: rgb(255,255,255);
}.cssload-preloader .cssload-preloader-box > div:nth-child(1) {
	background: rgba(204,94,82,0.79);
	margin-right: 14px;
	animation: cssload-movement 570ms ease 0ms infinite alternate;
		-o-animation: cssload-movement 570ms ease 0ms infinite alternate;
		-ms-animation: cssload-movement 570ms ease 0ms infinite alternate;
		-webkit-animation: cssload-movement 570ms ease 0ms infinite alternate;
		-moz-animation: cssload-movement 570ms ease 0ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(2) {
	background: rgb(240,128,128);
	margin-right: 14px;
	animation: cssload-movement 570ms ease 71.25ms infinite alternate;
		-o-animation: cssload-movement 570ms ease 71.25ms infinite alternate;
		-ms-animation: cssload-movement 570ms ease 71.25ms infinite alternate;
		-webkit-animation: cssload-movement 570ms ease 71.25ms infinite alternate;
		-moz-animation: cssload-movement 570ms ease 71.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(3) {
	background: rgb(240,128,128);
	margin-right: 14px;
	animation: cssload-movement 570ms ease 142.5ms infinite alternate;
		-o-animation: cssload-movement 570ms ease 142.5ms infinite alternate;
		-ms-animation: cssload-movement 570ms ease 142.5ms infinite alternate;
		-webkit-animation: cssload-movement 570ms ease 142.5ms infinite alternate;
		-moz-animation: cssload-movement 570ms ease 142.5ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(4) {
	background: rgb(240,128,128);
	margin-right: 14px;
	animation: cssload-movement 570ms ease 213.75ms infinite alternate;
		-o-animation: cssload-movement 570ms ease 213.75ms infinite alternate;
		-ms-animation: cssload-movement 570ms ease 213.75ms infinite alternate;
		-webkit-animation: cssload-movement 570ms ease 213.75ms infinite alternate;
		-moz-animation: cssload-movement 570ms ease 213.75ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(5) {
	background: rgb(240,128,128);
	margin-right: 14px;
	animation: cssload-movement 570ms ease 285ms infinite alternate;
		-o-animation: cssload-movement 570ms ease 285ms infinite alternate;
		-ms-animation: cssload-movement 570ms ease 285ms infinite alternate;
		-webkit-animation: cssload-movement 570ms ease 285ms infinite alternate;
		-moz-animation: cssload-movement 570ms ease 285ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(6) {
	background: rgb(240,128,128);
	margin-right: 14px;
	animation: cssload-movement 570ms ease 356.25ms infinite alternate;
		-o-animation: cssload-movement 570ms ease 356.25ms infinite alternate;
		-ms-animation: cssload-movement 570ms ease 356.25ms infinite alternate;
		-webkit-animation: cssload-movement 570ms ease 356.25ms infinite alternate;
		-moz-animation: cssload-movement 570ms ease 356.25ms infinite alternate;
}
.cssload-preloader .cssload-preloader-box > div:nth-child(7) {
	background: rgb(240,128,128);
	margin-right: 14px;
	animation: cssload-movement 570ms ease 427.5ms infinite alternate;
		-o-animation: cssload-movement 570ms ease 427.5ms infinite alternate;
		-ms-animation: cssload-movement 570ms ease 427.5ms infinite alternate;
		-webkit-animation: cssload-movement 570ms ease 427.5ms infinite alternate;
		-moz-animation: cssload-movement 570ms ease 427.5ms infinite alternate;
}


@keyframes cssload-movement {
	from {
		transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 38px rgb(255,127,80);
		background: rgb(255,127,80);
	}
}

@-o-keyframes cssload-movement {
	from {
		-o-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-o-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 38px rgb(255,127,80);
		background: rgb(255,127,80);
	}
}

@-ms-keyframes cssload-movement {
	from {
		-ms-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-ms-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 38px rgb(255,127,80);
		background: rgb(255,127,80);
	}
}

@-webkit-keyframes cssload-movement {
	from {
		-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-webkit-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 38px rgb(255,127,80);
		background: rgb(255,127,80);
	}
}

@-moz-keyframes cssload-movement {
	from {
		-moz-transform: scale(1.0) translateY(0px) rotateX(0deg);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	to {
		-moz-transform: scale(1.5) translateY(-24px) rotateX(45deg);
		box-shadow: 0 24px 38px rgb(255,127,80);
		background: rgb(255,127,80);
	}
}

/* end of preloader */



  /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
      width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #cccccc;
}
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}
 /* hero begins */
 



 /* end hero */

.collapsibles {
  transition-property: height;
  transition-duration: 700ms;
  overflow: hidden;
  background-color: #cccccc;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font: weight 500px;;
  font-style: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 800;
  font-style: normal;
}



.sidebar {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: -250px; /* Initially off-screen */
  transition: left 0.5s ease-in-out; /* Smooth transition */
  transition: all 0.3s ease-out ;
}
.main-sidebar{
  width: 30%;
  height: 100%;

  
  position: fixed;
  top: 0;
  left: -10px; /* Initially off-screen */
  transition: left 0.5s ease-in-out; /* Smooth transition */
  transition: all 0.3s ease-out ;

}

.sidebar.open {
  left: 0; /* Slide in when open */
  
}
.main-sidebar.open {
  left: 0; /* Slide in when open */
}
.main-sidebar.close {
  left: -230; /* Slide out when open */
}

.categoriesbar {
 
  width: fit-content;
  overflow-y: auto;
  top: 0;
  z-index: 100;
 
  transform: translateY(100%); /* Slide up initially */
  transition: all 2s ease-out
}

.categoriesbar.open {
  
  transform: translateY(4%); /* Slide down when open */
  transition: all 1s ease-in
}
.categoriesbar.close {
  
  transform: translateY(1%); /* Slide up when open */
  transition: all 1s ease-out
  l
}


.cartbar {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.3s ease-out; /* Combined transitions */
}

.cartbar.cartopen {
  transform: translateX(1%);
  transition: all 1s ease-in;
   width: 100%;/* Open state styles */
}

.cartbar.cartclose {
  transform: translateX(100%);
  transition: all 1s ease-out;
  width: 0;
  
}
.blinking-text{
  animation: blink 2s infinite;
}
.custom-select {
    padding: 5px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-select:focus {
 /* Pink outline */
    border-color: #ff69b4; /* Pink border */
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5); /* Pink shadow */
}
.background-image{
  background-image: url('/background.png');
  background-blend-mode: multiply;
  
}
.mobile-background-image{
  background-image: url('/background.png');
  background-position: right,center;
  
}



@keyframes blink{
  from {opacity: 1;}
  to {opacity: 0;}
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}